<div class="container">
    <h1 class="text-center text-success">Change Password</h1>
    <form method="post" id="changePassForm">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mx-auto">
                <label>Enter New Password</label>
                <input type="text" name="pass" id="pass" class="form-control" />

                <input type="button" value="Change Password" id="cPass" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div style="display:none;" id="loader">
    <div class="spinner-grow text-success"> </div>
    <div class="spinner-grow text-success"> </div>
    <div class="spinner-grow text-success"> </div>
    <div class="spinner-grow text-success">
    </div>
    <p class="text-success">Saving Your New Password Please Wait...</p>
</div>